div(:class="classes")
    button(type="button",:class="arrowClasses" class="left_hand" @click="arrowEvent(-1)") 
      Licon(type='left')
    div(:class="[prefixCls + '-list']")
      div(:class="[prefixCls + '-track', showCopyTrack ? '' : 'higher']", :style="trackStyles" ref="originTrack")
        slot
      div(:class="[prefixCls + '-track', showCopyTrack ? 'higher' : '']" :style="copyTrackStyles" ref="copyTrack" v-if="loop")
    button(type="button",:class="arrowClasses" class="right_hand" @click="arrowEvent(1)") 
      Licon(type='right')
    ul(:class="dotsClasses")
      template(v-for="n in slides.length")
        li(:class="[n - 1 === currentIndex ? prefixCls + '-active' : '']" @click="dotsEvent('click', n - 1)" @mouseover="dotsEvent('hover', n - 1)")
          button(type="button" ,:class="[radiusDot ? 'radius' : '']")
    .marks(v-show='showmark')