span( tabindex="0",:class="wrapClasses",@click="toggle",@keydown.space="toggle")
  input(type="hidden" :name="name" :value="currentValue")
  span(:class="innerClasses")
    slot(name="open" v-if="currentValue === trueValue")
    slot(name="close" v-if="currentValue === falseValue")