div
  div(:class="maskClasses" v-show="visible" @click="mask")
  div(:class="wrapClasses" v-show="visible",@click="handleWrapClick")
    div(:class="classes", :style="mainStyles", v-show="visible")
      div(:class="[prefixCls + '-content']")
        a(:class="[prefixCls + '-close']" ,v-if="closable", @click="close")
          slot(name="close")
            Licon(type='close')
        div(:class="[prefixCls + '-header']" ,v-if="showHead")
          slot(name="header")
            div(:class="[prefixCls + '-header-inner']") {{ title }}
        div(:class="[prefixCls + '-body']")
          slot
        div(:class="[prefixCls + '-footer']", v-if="!footerHide")
          slot(name="footer")
            Lbutton(@click.native="cancel") {{ cancelText }}
            Lbutton(type="primary", @click.native="ok") {{ okText }}