div(:class="classes")
  Input-number(v-if="!range && showInput", :min="min" ,:size="inputSize" ,:max="max" ,:step="step" ,:value="exportValue[0]",@on-change="handleInputChange")
  div(:class="[prefixCls + '-wrap']" ref="slider" @click.self="sliderClick")
    input(type="hidden", :name="name" ,:value="exportValue")
    template(v-if="showStops")
      div(:class="[prefixCls + '-stop']" v-for="item in stops", :style="{ 'left': item + '%' }" @click.self="sliderClick")
    div(:class="[prefixCls + '-bar']" ,:style="barStyle" @click.self="sliderClick")
    div(:class="[prefixCls + '-button-wrap']" ,:style="{left: minPosition + '%'}" @touchstart="onPointerDown($event, 'min')",@mousedown="onPointerDown($event, 'min')")
      Tooltip(:controlled="pointerDown === 'min'" placement="top", :content="tipFormat(exportValue[0])" ,:always="showTip === 'always'" ref="minTooltip")
        div(:class="minButtonClasses" tabindex="0" @focus="handleFocus('min')" @blur="handleBlur('min')" @keydown.left="onKeyLeft($event, 'min')",@keydown.down="onKeyLeft($event, 'min')" @keydown.right="onKeyRight($event, 'min')" @keydown.up="onKeyRight($event, 'min')")