
ul(:class="wrapClasses",:style="styles")
  span(:class="[prefixCls + '-total']",v-if="showTotal")
  li(:class="prevClasses",@click="prev")
    a
      template(v-if="prevText !== ''") {{ prevText }}
      span <
      //- i(v-else,class="ivu-icon ivu-icon-ios-arrow-back")
  li(title="1",:class="firstPageClasses",@click="changePage(1)")
    a 1
  li(v-if="currentPage > 5",:class="[prefixCls + '-item-jump-prev']",@click="fastPrev")
    a
      //- i(class="ivu-icon ivu-icon-ios-arrow-back")
      span ...
  li(:title="currentPage - 3",v-if="currentPage === 5",:class="[prefixCls + '-item']",@click="changePage(currentPage - 3)")
    a {{ currentPage - 3 }}
  li(:title="currentPage - 2",v-if="currentPage - 2 > 1",:class="[prefixCls + '-item']",@click="changePage(currentPage - 2)")
    a {{ currentPage - 2 }}
  li(:title="currentPage - 1",v-if="currentPage - 1 > 1",:class="[prefixCls + '-item']",@click="changePage(currentPage - 1)")
    a {{ currentPage - 1 }}
  li(:title="currentPage",v-if="currentPage != 1 && currentPage != allPages",:class="[prefixCls + '-item',prefixCls + '-item-active']")
    a {{ currentPage }}
  li(:title="currentPage + 1",v-if="currentPage + 1 < allPages",:class="[prefixCls + '-item']",@click="changePage(currentPage + 1)")
    a {{ currentPage + 1 }}
  li(:title="currentPage + 2",v-if="currentPage + 2 < allPages",:class="[prefixCls + '-item']",@click="changePage(currentPage + 2)")
    a {{ currentPage + 2 }}
  li(:title="currentPage + 3",v-if="allPages - currentPage === 4",:class="[prefixCls + '-item']",@click="changePage(currentPage + 3)")
    a {{ currentPage + 3 }}
  li(v-if="allPages - currentPage >= 5",:class="[prefixCls + '-item-jump-next']",@click="fastNext") 
    a 
      //- i(class="ivu-icon ivu-icon-ios-arrow-forward")
      span ...
  li(:title="allPages",v-if="allPages > 1",:class="lastPageClasses",@click="changePage(allPages)")
    a {{ allPages }}
  li(:class="nextClasses",@click="next")
      a
        template(v-if="nextText !== ''") {{ nextText }}
        span >
        //- i(v-else,class="ivu-icon ivu-icon-ios-arrow-forward")